body {
    display: flex;
    position: relative;
}

#background_image {
   z-index: -1;
   position: absolute;
   width: 100%; 
}

.trois_planetes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

#img_1 { 
    width: 10%;
    height: 10%;
}

#img_2 { 
    width: 12%;
    height: 12%;
}

#img_3 { 
    width: 15%;
    height: 15%;
}