body {
background-color: grey;

}

h1 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

.heart {
    display: grid; 
    grid-gap: 5px;
    grid-template-rows: repeat(9, 50px); grid-template-columns: repeat(9, 50px);
   
    ;}
  

.square {
    height: 50px; 
    width: 50px;
    display: block;
    
}


.white_square {
    background-image: url("assets/img/white.png");
    background-size: auto;
  
}

.red_square {
    background-image: url("assets/img/red.png");
    background-size: auto;
}

.black_square {
    background-image: url("assets/img/black.png");
    background-size: auto;
}




