:root {
    --main-background: #111111;
    --text-font: #CCCCCC;
    --title-font: #CCCCCC;
    --menu-section: rgb(53, 53, 53);
    --menu-title: rgb(88, 88, 88);
    --title-article-background: rgb(48, 48, 48);
    --blue: #085E8F;
    --dark-blue: #085A8F44;
    --light-blue: #09BCE0;
    --green: #09BCE044;
    --font: "Arial";
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
    --main-background: #d3d3d3;
    --text-font: #070707;
    --title-font: #CCCCCC;
    --menu-section: rgb(192, 192, 192);
    --menu-title: rgb(177, 177, 177);
    --title-article-background: rgb(196, 196, 196);
    --light-blue: #085E8F;
    --green: #09BCE044;
    --font: "Arial";
    color-scheme: light dark;
        }
}


html, body {
    font-family: var(--font);
    min-height: 100vh;
   
}

body { 
    display: flex;
    flex-direction: column;
    margin: 0;


}

header {
    background-image: url('../img/basic-template-banner.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    color: var(--text-font);
}

header div {
    text-align: center;
    font-size: 30px;
    color: var(--title-font);
    padding-top: 20px;
    font-weight: bold; 
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: calc(100vh - 200px);
}

.menu_section {
    background-color: var(--menu-section);
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    align-self: stretch;
    width: 200px;
    flex: 0 0 200px;
}

.menu_title {
    background-color: var(--menu-title);
    color: var(--text-font);
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    padding: 21px;
}


.menu_list {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu_list li {
    color: var(--light-blue);
    background-color: var(--menu-title);
    text-align: left;
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: underline;
}

.main_section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--main-background);
    align-self: stretch;
}

main > aside {
    flex: 0 0 250px;
}

h1 {
    color: var(--text-font);
    background-color: var(--title-article-background);
    padding: 20px;
    margin: 0 0 20px 0;
    font-size: 30;

}

.articles_section {
    display: flex;
    flex-direction: row;
    background-color: var(--main-background);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.article {
    width: 500px;
    height: 120px;
    background-color: var(--title-article-background);
    
}

.article h2 {
    color: var(--text-font);
    margin-top: 0;
}

.article_text {
    color: var(--text-font);
    font-size: 12px;

}

aside {
    display: block;
    background-color: var(--menu-section);
    text-align: center;
}
aside h2 {
    text-align: center;
    color: var(--light-blue);
    margin: 10px;
    font-size: 20px;

}

.book_image {
    width: 250px;
}

aside p {
    color: var(--text-font);
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
}

aside a {
    background-color: var(--light-blue);
    color: var(--main-background);
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    
}