:root {
    --jaune: #FFFF00;
    --rouge1: #f8d7da;
    --rouge2: #721c24;
    --rouge3: #dc3545;
    --vert1: #e2f0d9;
    --vert2: #155724;
    --gris1: #e9ecef;
    --gris2: #6c757d;
    --font: "Arial, sans-serif";
}