@media screen and (max-width: 780px) {
    body {
        background-position: center top;
    }
}

html, body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    max-width: 430px;
}

body {
    min-height: 100vh;
    background-color: #f4edf2;
    background-image: url("mobile_background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arvo', sans-serif;
}

header {
    height: 40px; 
    display: flex; 
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    gap: 5px; 
    align-items: center; 
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-left: 15px;
    width: 405px;

}

header span {
    display:inline-block; 
    width:15px; 
    height:15px; 
    border:1px solid gray; 
    border-radius: 50%;
}

h1 {
    font-size: 26px;
    color: #503136;
    text-align: center;
    margin-left: 30px; 
    margin-right: 30px; 

}

#transparent_circle, #lower_dash, #windows, #x_close, #lower_dash_purple, #x_close_purple {
    width: 15px;
    height: 15px;
}

#x_close_purple {
    margin-bottom: 3px;
}

.section_photo_poste {
    display: grid;
    margin-left: 15px; 
    grid-template-areas:
    "box-1 box-2"
    "box-1 box-3";
    
}

.onglet_photo {
    display: flex;
    flex-direction: column; 
    background-color: #B48195;
    width: 170px; 
    border: 1px solid black;
    grid-area: box-1;
}

.age { 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 19px;
}


.age_text div {
    margin-bottom: 1px;
}

.second_lower_dash {
    font-weight: bold;
}

.second_x {
    font-size: 20px; 
    padding-top:50px;
}

.bouton_play_enverse, .bouton_play_droit {
    width: 15px;
    height: 15px;
    margin-top: 3px; 
    margin-left: 8px;
    margin-right: 8px;

    
}

#photo_iliyana {
    width: 170px;
    height: 180px; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.bouton_play_central {
    width: 22px;
    height: 22px;
    
}

.age_text {

    margin-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    margin-left: 2px;
    color: #503136;
}

.boutons_play {
    display: flex;
    flex-direction: row;
    height: 16px;
    justify-content: center;
    
    
}

#bouton_play_enverse {
    transform: scaleX(-1);
}

.conteneur_projet {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 15px;
    height: 80px;
    width: 227px;
    background-color: #B48195;
    margin-bottom: -10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: white;
    grid-area: box-2;
    
}

.titre_projet {
    margin: 10px 0px 0px 0px;
}

.conteneur_poste {
    height: 130px;
    width: 225px;
    background-color: #FBE8C7;
    margin-left: -20px;
    padding-left: 30px;
    order: -1; 
    font-weight: bold;
    text-align: center;
    font-size: 31px;
    color: #503136;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right: 5px;
    grid-area: box-3;
}

.titre_poste {
    margin: 10px 0px 0px 0px;
    padding-right: 10px;
}



.section_formations_presentation {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 10px;
   
}

.folder {
    width: 160px;
    height: 110px;
    padding-top: 15px;
    margin-bottom: -10px;
    
}

.formations {
    margin-left: 5px; 
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    color: #503136;
}

.trois_fenetres {
    position: relative;
    width: 250px;
    height: 220px;
    margin-left: 30px;
}

#fenetre_presentation {
    position:absolute;
    top: 0;
    left: 0;


    display: grid;
    grid-template-areas:
    "box-4 box-4"
    "box-5 box-5"
    "box-6 box-7";
    background-color: white;
    border: 2px solid #503136;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
}

#avant_derniere_fenetre {
    position:absolute;
    top: 5;
    left: 5;

    width: 200px;
    height: 150px;
    background-color: #FBE8C7;
    border-radius: 10px;
    z-index: 2;
    margin-left: 9px; 
    margin-top: 9px;
    border: 2px solid #503136; 
}

    #derniere_fenetre {
    position:absolute;
    top: 10;
    left: 10;

    width: 200px;
    height: 150px;
    background-color:#503136;
    border-radius: 10px;
    z-index: 1;
    margin-left: 15px; 
    margin-top: 15px;
    border: 2px solid #503136;
}
            

.cercle_gris {
    height: 15px;
    width: 15px;
    margin: 2px;
}




.barre_haute {
    display: flex;
    flex-direction: row;
    background-color: #B48195;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 2px solid #503136;
    grid-area: box-4;
}

.barre_haute span {
    display:inline-block; 
    width:12px; 
    height:12px; 
    background: rgb(197, 197, 197); 
    border-radius: 50%;
    margin: 5px 2px 2px 5px; 
}

.question_presentation {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    color:#503136;
    grid-area: box-5;
}


#bouton_non { 
    width: 85px;
    height: 50px;
    border-radius: 23px;
    border: 2px solid #503136;
    background-color: #B48195;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    grid-area: box-7;
}

#bouton_oui { 
    margin-left: 10px;
    margin-bottom: 5px;
    width: 85px;
    height: 50px;
    border-radius: 23px;
    border: 2px solid #503136;
    background-color: #FBE8C7;
    font-weight: bold;
    font-size: 18px;
    color: #503136;
    grid-area: box-6;
}

.section_experiences_projets {
    display: flex;
    margin-top: -30px;
    margin-left: 15px;
    margin-right: -15px;
}



#fenetre_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #503136;
}

#deuxieme_barre_haute {
    height: 30px;
    width: 220px;
    background-color: #B48195;
    border-radius: 5px;
    margin: 1px;
    border: 2px solid #503136;
    margin-bottom: 1px;

}

#fenetre_terminal {
    background-color: #503136;
   
    width: 223px;
    height: 70px; 
    margin: 1px 2px 5px 2px;

}

.premiere_ligne_terminal, .deuxieme_ligne_terminal {
    color: white;
    margin-left: 3px;
    font-size: 14px;
}

.premiere_ligne_terminal {
    margin-top: 1px;
}

.deuxieme_ligne_terminal {
    margin-top: -14px;
}

.fenetre_projets {
    position: relative;
}



#bouton_go {
    
    background-color: #FBE8C7;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    color:#503136;
    border-radius: 10px;
    margin-bottom: 4px;
    border: 2px solid #503136;

    
}

#icone_ordinateur {
    position: absolute;
    width: 220px; 
    height: 190px; 
    margin-top: -15px;
    margin-left: -10px;
    z-index: 1;
}

.projets_realises {
    position: absolute;
    z-index: 2;
    color: white;
    font-weight: bold;
    top: 11px; 
    left: 60px;
}