@media screen and (max-width: 780px) {
    body {
        background-position: center top;
    }
}

html, body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    max-width: 430px;
   position: relative;
    
}

body {
    min-height: 100vh;
    background-color: #f4edf2;
    background-image: url("mobile_background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arvo', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icone_attention {
    border: 10px solid red;
    color: red;
    border-radius: 50%;
    font-size: 120px;
    font-weight: bolder;
    height: 130px; 
    width: 130px;
    text-align: center;
}

.image_sirene {
    width: 190px;
    height: 190px;
    margin-top: 10px
}

.icone_panneau {
    width: 220px;
    height: 220px;
    
}



p {
    color: #503136;
    font-weight: bolder;
    font-size: 47px;
    text-align: center;
    margin: 0px 10px 10px 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bouton_non {
    position: absolute;
    top: 83%;
    left: 10%;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #503136;
    font-size: 16px;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBE8C7;
    border: 1px solid #503136;
    margin-top: 0;
    text-decoration: none;
    text-align: center;
}

.bouton_oui {
    position: absolute;
    top: 76%;
    left: 35%;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 24px;
    background-color: #B48195;
    width: 250px;
    height: 150px;
    border: 1px solid #503136;
    border-radius: 20%;
    text-decoration: none;
    text-align: center;
}