body {
    width: 390px;
    height: 390px;
    border: 1px solid black;
    font-family: 'Arvo', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.icone_attention {
    border: 10px solid red;
    color: red;
    border-radius: 50%;
    font-size: 120px;
    font-weight: bolder;
    height: 150px; 
    width: 150px;
    text-align: center;
    
}

p {
    color: #503136;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bouton_non {
    color: #503136;
    font-size: 16px;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBE8C7;
    border: 1px solid #503136;
    margin-top: 30px;
}

.bouton_oui {
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    background-color: #B48195;
    width: 200px;
    height: 80px;
    border: 1px solid #503136;
    border-radius: 5%;
}